---
import { getNavbarItems } from 'src/utils/getNavbarItems'
---

<footer class="footer">
	<div class="footer_logo">
		<img src="../assets/logo_2.png" alt="logo" class="navbar_logo_img" width="200px" />
		<div class="footer_social">
			<a href="https://facebook.com" target="_blank" rel="noopener noreferrer">
				<i class="fab fa-facebook-f"></i>
			</a>
			<a href="https://twitter.com" target="_blank" rel="noopener noreferrer">
				<i class="fab fa-twitter"></i>
			</a>
			<a href="https://instagram.com" target="_blank" rel="noopener noreferrer">
				<i class="fab fa-instagram"></i>
			</a>
		</div>
	</div>
	<div class="footer_links">
		{getNavbarItems().map((item) => <a href={item.link}>{item.title}</a>)}
	</div>
	<div class="footer_separator"></div>
	<div class="footer_bottom">
		<p>© 2024 Meccanico. All Rights Reserved.</p>
	</div>
</footer>

<style lang="scss">
	@use '@styles/variables/variables.scss' as variables;

	.footer {
		width: 100%;
		height: auto;
		background-color: rgb(37, 37, 37);
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 20px;
		flex-direction: column;
		margin-top: 2vw;

		.footer_logo {
			width: 100%;
			padding: 20px;
			height: auto;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 10px;
			.footer_social {
				height: auto;
				padding: variables.$padding-medium;
				display: flex;
				justify-content: space-around;
				align-items: center;
				gap: 15px;

				i {
					color: variables.$color-white;
					font-size: 24px;
					transition: color 0.3s;

					&:hover {
						color: variables.$primary-color;
					}
				}
			}
		}

		.footer_links {
			width: 80%;
			height: auto;
			padding: variables.$padding-medium;
			display: flex;
			justify-content: space-around;
			align-items: center;

			a {
				color: variables.$color-white;
				font-size: 12px;
			}
		}

		.footer_separator {
			width: 90%;
			height: 1px;
			background-color: rgb(53, 53, 53);
		}

		.footer_bottom {
			width: 100%;
			height: auto;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: variables.$padding-medium;

			p {
				color: variables.$color-white;
			}
		}
	}
</style>
