---
import { getNavbarItems } from "src/utils/getNavbarItems";

const phoneNumber = import.meta.env.PUBLIC_PHONE_NUMBER;
---

<nav class="main-navbar">
    <div class="main-navbar-content">
        <img src="../assets/logo_2.png" alt="logo" class="main-navbar-logo" />
        <div class="main-navbar-links">
            {
                getNavbarItems().map((item) => (
                    <a href={item.link}>{item.title}</a>
                ))
            }
        </div>
        <button class="menu-toggle">
            <p>Menu</p>
            <i class="fa fa-bars"></i>
        </button>
    </div>
</nav>
<nav class="sidebar-navbar">
    <div class="sidebar-navbar-links">
        {getNavbarItems().map((item) => <a href={item.link}>{item.title}</a>)}
    </div>
</nav>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const currentPath = window.location.pathname.replace(/\/$/, "");
        const links = document.querySelectorAll(
            ".main-navbar-links a, .sidebar-navbar-links a"
        );
        links.forEach((link) => {
            const href = link.getAttribute("href");
            if (href) {
                const linkPath = href.replace(/\/$/, "");
                if (linkPath === currentPath) {
                    link.classList.add("active");
                }
            }
        });

        const toggleSidebar = () => {
            const sidebar = document.querySelector(".sidebar-navbar");
            const menuToggle = document.querySelector(".menu-toggle");
            if (sidebar) {
                sidebar.classList.toggle("sidebar-navbar-visible");
                if (menuToggle) {
                    menuToggle.classList.toggle("hidden");
                }

                document.body.classList.toggle(
                    "no-scroll",
                    sidebar.classList.contains("sidebar-navbar-visible")
                );
            }
        };

        const menuToggle = document.querySelector(".menu-toggle");
        const closeButton = document.querySelector(".close-button");

        if (menuToggle) {
            menuToggle.addEventListener("click", toggleSidebar);
        }

        if (closeButton) {
            closeButton.addEventListener("click", toggleSidebar);
        }

        const handleScroll = () => {
            const navbar = document.querySelector(".main-navbar-content");
            if (navbar) {
                navbar.classList.toggle("scrolled", window.scrollY > 0);
            }
        };

        window.addEventListener("scroll", handleScroll);
    });
</script>

<style lang="scss">
    @use "@styles/variables/variables.scss" as variables;

    body.no-scroll {
        overflow: hidden;
    }

    .main-navbar {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @media screen and (max-width: variables.$mobile),
            screen and (max-width: variables.$tablet) {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 50;
        }

        .main-navbar-content {
            padding-top: 40px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: variables.$secondary;

            @media screen and (max-width: variables.$mobile),
                screen and (max-width: variables.$tablet) {
                padding: 18px 0;
                justify-content: flex-end;
                padding-right: 16px;

                &.scrolled {
                    background-color: rgba(
                        darken(variables.$secondary, 3%),
                        0.95
                    );
                    backdrop-filter: blur(5px);
                    transition:
                        background-color 0.6s,
                        backdrop-filter 0.6s;
                }
            }

            .main-navbar-links {
                width: auto;
                height: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                gap: 40px;

                .active {
                    color: variables.$primary;
                }

                a {
                    color: variables.$white;

                    &:hover {
                        color: variables.$primary;
                    }
                }
            }

            .main-navbar-logo {
                position: absolute;
                left: 5%;
                width: 150px;
                z-index: 2;
            }

            .menu-toggle {
                display: none;
                background-color: transparent;
                border: none;
                cursor: pointer;

                @media screen and (max-width: variables.$mobile),
                    screen and (max-width: variables.$tablet) {
                    display: flex !important;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;

                    p {
                        color: variables.$white;
                        @include variables.typo-body1;
                    }
                    i {
                        color: variables.$white;
                        font-size: 18px;
                    }
                }
                &.hidden {
                    display: none;
                }
            }
        }
    }

    .sidebar-navbar {
        display: none;
        width: 400px;
        height: 100vh;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        top: 60px;
        right: 0px;
        padding-top: 30%;
        flex-direction: column;
        gap: 40px;
        transform: translateX(110%);
        transition: variables.$transition-ease;
        background-color: rgba(variables.$secondary, 0.95);
        backdrop-filter: blur(5px);
        z-index: 40;
        border-left: 1px solid variables.$primary;

        &.sidebar-navbar-visible {
            transform: translateX(0%);
        }

        .sidebar-navbar-links {
            width: 100%;
            height: auto;
            overflow-y: auto;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            gap: 30px;
            padding: 20px;

            a {
                color: variables.$white;
                padding: 10px 15px;
                border-radius: 5px;
                transition: background-color 0.3s;

                @include variables.typo-h4;
            }
        }
    }

    @media screen and (max-width: variables.$tablet) {
        .sidebar-navbar {
            width: 60%;
        }
        .main-navbar-logo {
            width: 100%;
        }
        .main-navbar .main-navbar-content .main-navbar-links {
            display: none;
        }

        .main-navbar .main-navbar-content .menu-toggle {
            display: block;
        }

        .sidebar-navbar {
            display: flex;
        }
    }

    @media screen and (max-width: variables.$mobile) {
        .sidebar-navbar {
            width: 100%;
        }
        .main-navbar-logo {
            width: 100%;
        }
    }
</style>
