---
type Props = {
    availability: Availability[];
};

type Availability = {
    day: string;
    open: string;
    close: string;
};

const { availability } = Astro.props;
---

<div>
    <h2>I nostri orari di <span>apertura:</span></h2>
    <ul>
        {
            availability.map((availability) => (
                <li>
                    <span>{availability.day}</span>
                    <span>
                        {availability.open}
                        {availability.close}
                    </span>
                </li>
            ))
        }
    </ul>
</div>

<style lang="scss">
    @use "@styles/variables/variables.scss" as variables;

    div {
        display: flex;
        flex: 1;
        width: 100%;
        justify-content: start;
        align-items: center;
        flex-direction: column;

        h2 {
            color: variables.$white;
            @include variables.typo-h1;
            text-align: center;

            span {
                color: variables.$primary;
            }
        }

        ul {
            display: flex;
            justify-content: center;
            align-items: start;
            flex-direction: column;
            gap: 20px;
            width: 60%;
            padding: variables.$padding-large;

            border-radius: variables.$border-radius;

            @media screen and (max-width: variables.$mobile),
                screen and (max-width: variables.$tablet) {
                width: 100%;
                justify-content: space-between;
                align-items: center;
                padding: variables.$padding-large;
            }

            li {
                color: variables.$white;
                @include variables.typo-h3;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                padding-bottom: 5px;

                span:nth-child(even) {
                    width: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: variables.$tertiary;
                    word-wrap: none;

                    @media screen and (max-width: variables.$mobile) {
                        max-width: 70%;
                        width: auto;
                    }
                }
            }
        }
    }
</style>
