---
interface Props {
	imgSrc: string
	imgAlt: string
	title: string
	content: string
}
const { imgSrc, imgAlt, title, content } = Astro.props
---

<div class="feature">
	<div class="image_container">
		<img src={imgSrc} alt={imgAlt} />
		<h2 class="title">{title}</h2>
	</div>
	<div class="text_container">
		<p>{content}</p>
	</div>
</div>

<style lang="scss">
	@use '@styles/variables/variables.scss' as variables;

	.feature {
		display: flex;
		flex-direction: column;
		gap: 20px;
		align-items: center;
		background: variables.$color-white;
		border-radius: variables.$border-radius;
		box-shadow: variables.$box-shadow-small;
		overflow: hidden;
		transition:
			transform 0.3s ease,
			box-shadow 0.3s ease;

		&:hover {
			transform: translateY(-10px);
			box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
		}

		.image_container {
			position: relative;
			width: 100%;
			height: 300px;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			.title {
				position: absolute;
				bottom: 20px;
				left: 20px;
				font-size: 2.2rem;
				color: variables.$text-color;
				background: rgba(255, 255, 255, 0.8);
				padding: 5px 10px;
				border-radius: 5px;
			}
		}

		.text_container {
			padding: 20px;
			text-align: center;

			p {
				font-size: 1.3rem;
				color: variables.$text-color-light;
				text-align: left;
			}
		}
	}
</style>
