---
import PageLayout from '@layouts/PageLayout.astro'
---

<PageLayout>
	<div>
		<h1>CHI SIAMO</h1>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, tempore deserunt! Laboriosam,
			voluptatum.
		</p>
	</div>
</PageLayout>
