---
import ContactForm from '@components/ContactForm.vue'
import Layout from '../layouts/PageLayout.astro'
---

<Layout>
	<div class="section_1">
		<iframe
			src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11168.284344614001!2d9.184663525549261!3d45.589115703337356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4786beeae2418757%3A0x27e9f70a0c484a63!2s20834%20Nova%20Milanese%20MB!5e0!3m2!1sit!2sit!4v1719877020677!5m2!1sit!2sit"
			width="600"
			height="450"
			style="border:0;"
			allowfullscreen=""
			loading="lazy"
			referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>

	<ContactForm />
</Layout>

<style scoped lang="scss">
	.section_1 {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: auto;
		padding: 50px;
	}
</style>
