---
import Layout from '../layouts/PageLayout.astro'
import LightBox from '@components/gallery/LightBox'
import { galleryImages } from '../data/galleryImages'
import HeroTitle from '@components/common/HeroTitle.astro'
import { gallery } from 'src/data/gallery'
---

<Layout>
	<HeroTitle title={gallery.title} paragraph={gallery.paragraph} icon="fas fa-photo-video" />
	<div class="gallery__images">
		<LightBox images={galleryImages} client:load />
	</div>
</Layout>

<style scoped lang="scss">
	.gallery {
		padding: 20px;
	}
	.gallery__images {
		width: 100%;
		height: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 20px;
	}
</style>
