---
import '../styles/css/index.css'
import Layout from "../layouts/Layout.astro";
import ContactForm from "../components/ContactForm.astro";
import ServiceCard from "../components/ServiceCard.astro";
import { services } from '../data/home.ts';
import PrimaryButton from '../components/PrimaryButton.astro';
---

<Layout>
<div class="hero_section">
    <div class="hero_content">
      <div class="hero_text">
        <h1>Meccanici Numeri 1 Al Mondo!</h1>
        <p style="font-size: 20px">
          Benvenuti nella nostra officina meccanica, dove esperienza e
          tecnologia si uniscono per offrire un servizio rapido e affidabile.
          Affidateci la vostra auto e vi garantiremo sicurezza e
          soddisfazione.
        </p>
        <div class="hero_buttons">
          <PrimaryButton type="button_type_1" label="CONTATTACI" href="#" />
          <PrimaryButton type="button_type_2" label="CONTATTACI" href="#" />
        </div>
      </div>
    </div>
  </div>
  <div class="features_section">
    <div class="features_content">
      {services.map((service) => (
        <ServiceCard title={service.title} description={service.description} image={service.image} />
      ))}
    </div>
  </div>
  <ContactForm />
</Layout>