---
import Layout from "../layouts/Layout.astro";
import ContactForm from "../components/ContactForm.astro";
import '../styles/index.css'
---

<Layout>
<div class="first_section_main_div">
    <div class="first_section_second_div">
      <div class="first_section_third_div">
        <h1>Meccanici Numeri 1 Al Mondo!</h1>
        <p style="font-size: 20px">
          Benvenuti nella nostra officina meccanica, dove esperienza e
          tecnologia si uniscono per offrire un servizio rapido e affidabile.
          Affidateci la vostra auto e vi garantiremo sicurezza e
          soddisfazione.
        </p>
        <div class="first_section_third_div_buttons_div">
          <a href="#" class="button_type_1"> CONTATTACI </a>
          <a href="#" class="button_type_2"> CONTATTACI </a>
        </div>
      </div>
    </div>
  </div>
  <div class="second_section_main_div">
    <div class="second_section_second_div">
      <div class="second_section_card_main_div">
        <div class="second_section_card_top_div">
          <img src="../assets/circle1.png" alt="circle1" />
        </div>
        <h1>SERVIZI</h1>
        <p>
          Offriamo una vasta gamma di servizi meccanici, tra cui manutenzione
          ordinaria, riparazioni, diagnostica avanzata e servizio gomme. Il
          nostro team di esperti è pronto a garantirvi prestazioni ottimali
          per la vostra auto.
        </p>
      </div>
      <div class="second_section_card_main_div">
        <div class="second_section_card_top_div">
          <img src="../assets/circle1.png" alt="circle1" />
        </div>
        <h1>SERVIZI</h1>
        <p>
          Offriamo una vasta gamma di servizi meccanici, tra cui manutenzione
          ordinaria, riparazioni, diagnostica avanzata e servizio gomme. Il
          nostro team di esperti è pronto a garantirvi prestazioni ottimali
          per la vostra auto.
        </p>
      </div>
      <div class="second_section_card_main_div">
        <div class="second_section_card_top_div">
          <img src="../assets/circle1.png" alt="circle1" />
        </div>
        <h1>SERVIZI</h1>
        <p>
          Offriamo una vasta gamma di servizi meccanici, tra cui manutenzione
          ordinaria, riparazioni, diagnostica avanzata e servizio gomme. Il
          nostro team di esperti è pronto a garantirvi prestazioni ottimali
          per la vostra auto.
        </p>
      </div>
    </div>
  </div>
  <ContactForm />
</Layout>