---
import LightBox from '@components/LightBox.tsx'
import { galleryImages } from '../data/galleryImages'
---

<div>
	<LightBox images={galleryImages} client:load />
</div>

<style>
	* {
		box-sizing: border-box;
	}
</style>
