---
interface Props {
	title: string
	description: string
	image: string
}

const { title, description, image } = Astro.props
---

<div class="service_card">
	<div class="service_card_image">
		<i class={image}></i>
	</div>
	<h1>{title}</h1>
	<p>
		{description}
	</p>
</div>

<style lang="scss">
	@use '@styles/variables/variables.scss' as variables;

	.service_card {
		width: 300px;
		height: 200px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: variables.$padding-medium;
		background-color: variables.$quaternary;
		border-radius: variables.$border-radius;
		position: relative;

		p,
		h1 {
			margin: 5px;
			text-align: center;
		}

		h1 {
			@include variables.typo-h3;
			color: variables.$white;
		}

		p {
			@include variables.typo-body2;
			color: variables.$tertiary;
		}

		.service_card_image {
			width: 60px;
			height: 60px;
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			border-radius: 50%;
			top: -30px;

			background-color: variables.$tertiary;

			@include variables.shadow(variables.$quaternary, s);

			i {
				color: variables.$secondary;
			}
		}
	}
</style>
