/* Reusable styles */
$primary-color: #3498db;
$secondary-color: rgb(157, 157, 44);
$background-color: #ecf0f1;
$text-color: #2c3e50;
$text-color-light: #7f8c8d;
$text-color-dark: #34495e;
$text-color-muted: #95a5a6;
$font-family: 'Roboto';
$font-size: 16px;
$box-shadow-small: 0 1px 3px rgba(0, 0, 0, 0.12);
$box-shadow-large: 0 0 20px 0 #c1c1c1;
$border-radius: 10px;
$padding-large: 30px;
$padding-medium: 20px;
$padding-small: 15px;
$transition-ease: ease-in-out 0.2s;
$color-white: #ffffff;
$color-black: #000000;
$color-gray: rgba(204, 204, 204, 0.356);
$standard-width: 1200px;
