/* Reusable styles */

@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

$font-family: "Urbanist";
$font-family-anton: "Anton";
$border-radius: 8px;
$padding-large: 64px;
$padding-medium: 24px;
$padding-small: 16px;
$transition-ease: ease-in-out 0.2s;

/* Color Palette */
$primary: #edff71;
$secondary: #0f2028;
$tertiary: #d0efef;
$quaternary: #28373e;
$white: #ffffff;
$gray: #f8f8f8;
$black: #000000;

$success-dgreen: #115b43;
$success-mgreen: #009262;
$success-lgreen: #f1fbf8;
$success-forest: #1b6e53;
$success-herbal: #32c997;
$success-mint: #84dfc1;

$warning-dyellow: #e48900;
$warning-myellow: #ffb240;
$warning-lyellow: #fff8ec;
$warning-lemon: #ffa826;
$warning-straw: #ffc670;
$warning-sand: #ffd596;

$danger-dred: #c33025;
$danger-mred: #e02b1d;
$danger-lred: #fff1f0;
$danger-scarlet: #e01507;
$danger-raspberry: #ff5a4f;
$danger-rubicund: #f0857d;

//media
$mobile: 600px;
$tablet: 800px;

/* Typography Mixins */
@mixin typo-h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 4.3rem;
    line-height: 4.6rem;

    @media screen and (max-width: $mobile) {
        font-size: 3.9rem;
    }
}

@mixin typo-h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 2.75rem;
}

@mixin typo-h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 1.375rem;
    line-height: 1.65rem;
}

@mixin typo-h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.5rem;
}

@mixin typo-sub1 {
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: normal;
}

@mixin typo-sub2 {
    font-style: normal;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: normal;
}

@mixin typo-sub3 {
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: normal;
}

@mixin typo-body1 {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4rem;
}

@mixin typo-body2 {
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

@mixin typo-body3 {
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
}

@mixin typo-fields1 {
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0em;
}

@mixin typo-fields2 {
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    letter-spacing: 0em;
}

@mixin typo-fields3 {
    font-size: 0.5625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0em;
}

@mixin typo-fieldsMessaggi {
    font-size: 0.8125rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

/* Shadow Mixins */
@mixin shadow($size: m, $color: rgba(171, 190, 209, 0.6)) {
    @if $size == s {
        box-shadow: 0px 2px 4px 0px $color;
    } @else if $size == m {
        box-shadow: 0px 4px 8px 0px $color;
    } @else if $size == l {
        box-shadow: 0px 6px 12px 0px $color;
    } @else if $size == xl {
        box-shadow: 0px 8px 16px 0px $color;
    }
}
