---
import PrimaryButton from "../components/PrimaryButton.astro";
---

<div class="contact_form">
    <div class="contact_form_info">
      <h1>Contattaci!</h1>
      <p>
        Siamo a tua disposizione per qualsiasi informazione o richiesta di
        assistenza. Il nostro team di esperti è pronto a rispondere a tutte le
        tue domande riguardo ai nostri servizi e a fornirti supporto per
        qualsiasi esigenza legata alla tua auto. Compila il modulo a destra
        con i tuoi dettagli e la tua richiesta, e ti ricontatteremo al più
        presto per offrirti il miglior servizio possibile. La tua
        soddisfazione è la nostra priorità.
      </p>
    </div>
    <form class="contact_form_fields">
      <div class="contact_form_top">
        <input type="text" name="name" placeholder="Nome" />
        <input type="text" name="email" placeholder="Email" />
      </div>
      <input type="text" name="object" placeholder="Oggetto" />
      <textarea name="" id=""> </textarea>
      <div class="contact_form_button">
        <PrimaryButton type="button_type_1" label="INVIA" href="#" />
      </div>
    </form>
  </div>

  <style>
    .contact_form {
    width: 100%;
    height: auto;
    padding: var(--padding-large);
    display: flex;
    gap: 100px;
}

.contact_form_info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100%;
    flex: 1;
    gap: 40px;
}

.contact_form_info h1,
.contact_form_info p {
    color: var(--color-black);
    width: 100%;
    margin: 0px;
}

.contact_form_info p {
    font-size: 20px;
}

.contact_form_fields {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 50px;
    flex: 1;
}

.contact_form_top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: auto;
}

.contact_form_button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: var(--padding-medium);
    width: 100%;
}

@media screen and (max-width : 1100px) {
    .contact_form_top {
        flex-direction: column;
    }

    .contact_form_top input {
        width: 100%;
    }

    .contact_form_button button {
        width: 100%;
    }
}

@media screen and (max-width : 800px) {
    .contact_form {
        flex-direction: column;
    }

    .contact_form_info h1,
    .contact_form_info p {
        text-align: center;
    }
}

@media screen and (max-width : 600px) {
    .contact_form_info h1 {
        font-size: 10vw;
    }

    .contact_form_info p {
        font-size: 5vw;
    }
}
  </style>