---
import '../styles/contattaci.css'
---
<div class="con_form_main_div">
    <div class="con_form_second_div">
      <h1>Contattaci!</h1>
      <p>
        Siamo a tua disposizione per qualsiasi informazione o richiesta di
        assistenza. Il nostro team di esperti è pronto a rispondere a tutte le
        tue domande riguardo ai nostri servizi e a fornirti supporto per
        qualsiasi esigenza legata alla tua auto. Compila il modulo a destra
        con i tuoi dettagli e la tua richiesta, e ti ricontatteremo al più
        presto per offrirti il miglior servizio possibile. La tua
        soddisfazione è la nostra priorità.
      </p>
    </div>
    <form class="con_form">
      <div class="con_form_top_div">
        <input type="text" name="name" placeholder="Nome" />
        <input type="text" name="email" placeholder="Email" />
      </div>
      <input type="text" name="object" placeholder="Oggetto" />
      <textarea name="" id=""> </textarea>
      <div class="con_form_button_div">
        <button class="button_type_1">Invia</button>
      </div>
    </form>
  </div>