<footer class="footer">
	<div class="footer_logo">
		<img src="../assets/logo.png" alt="logo" class="navbar_logo_img" width="200px" />
	</div>
	<div class="footer_links">
		<a href="#">HOME</a>
		<a href="#">CHI SIAMO</a>
		<a href="#">SERVIZI</a>
		<a href="#">GALLERIA</a>
		<a href="#">CONTATTI</a>
	</div>
	<div class="footer_separator"></div>
	<div class="footer_bottom">
		<p>© 2024 Meccanico. All Rights Reserved.</p>
	</div>
</footer>

<style lang="scss">
	@import '../styles/variables/variables';

	.footer {
		width: 100%;
		height: auto;
		background-color: rgb(37, 37, 37);
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 20px;
		flex-direction: column;
		margin-top: 2vw;

		.footer_links {
			width: 80%;
			height: auto;
			padding: $padding-medium;
			display: flex;
			justify-content: space-around;
			align-items: center;

			a {
				color: $color-white;
				font-size: 12px;
			}
		}

		.footer_separator {
			width: 90%;
			height: 1px;
			background-color: rgb(53, 53, 53);
		}

		.footer_bottom {
			width: 100%;
			height: auto;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: $padding-medium;
		}
	}
</style>
