<footer class="footer_main_div">
    <div class="footer_logo_div">
      <img src="../assets/logo.png" alt="logo" class="navbar_logo_img" width="200px"/>
    </div>
    <div class="footer_links_div">
      <a href="#">HOME</a>
      <a href="#">CHI SIAMO</a>
      <a href="#">SERVIZI</a>
      <a href="#">GALLERIA</a>
      <a href="#">CONTATTI</a>
    </div>
    <div class="footer_separator"></div>
    <div class="footer_bottom_div">
      <p>© 2024 Meccanico. All Rights Reserved.</p>
    </div>
</footer>

  <style>
    .footer_main_div {
      width: 100%;
      height: auto;
      background-color: rgb(37, 37, 37);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
      flex-direction: column;
    }
    
    .footer_links_div {
      width: 80%;
      height: auto;
      padding: 20px;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    
    .footer_links_div a {
      color: white;
      font-size: 12px;
    }
    
    .footer_separator {
      width: 90%;
      height: 1px;
      background-color: rgb(53, 53, 53);
    }
    
    .footer_bottom_div {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
    }
    </style>