---
interface Props {
	title: string
	description: string
	image: string
}

const { title, description, image } = Astro.props
---

<div class="service_card">
	<div class="service_card_image">
		<img src={image} alt="circle1" />
	</div>
	<h1>{title}</h1>
	<p>
		{description}
	</p>
</div>

<style lang="scss">
	@use '../styles/variables/variables.scss' as variables;

	.service_card {
		width: 300px;
		height: auto;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;
		box-shadow: variables.$box-shadow-large;
		padding: variables.$padding-medium;
		background-color: variables.$color-white;
		border-radius: variables.$border-radius;

		p,
		h1 {
			margin: 5px;
			text-align: center;
		}

		h1 {
			font-size: 20px;
			color: variables.$color-black;
		}

		p {
			color: rgb(43, 43, 43);
		}

		.service_card_image {
			width: 100%;
			height: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;

			img {
				position: absolute;
				top: -50px;
			}
		}

		&:hover {
			box-shadow: variables.$box-shadow-large;
		}
	}
</style>
