---
interface Props {
    paragraph: string;
    icon: string;
}
const { paragraph, icon } = Astro.props as Props;
---

<div class="hero-container">
    <div class="hero-content">
        <slot name="title" />
        <div class="hero-divider">
            <div class="divider-line"></div>
            <i class={icon}></i>
            <div class="divider-line"></div>
        </div>
        <p class="hero-paragraph">
            {paragraph}
        </p>
    </div>
</div>

<style scoped lang="scss">
    @use "@styles/variables/variables.scss" as variables;
    .hero-container {
        width: 100%;
        height: 60vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        padding-left: 50px;
        padding-right: 50px;
        background-color: variables.$secondary;

        .hero-content {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;
        }

        .hero-paragraph {
            width: 55%;
            text-align: center;
            color: variables.$white;
            @include variables.typo-h4;
        }

        .hero-divider {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            width: 100%;
            height: auto;

            .divider-line {
                width: 15%;
                height: 2px;
                background-color: variables.$tertiary;
            }

            i {
                font-size: 2rem;
                color: variables.$primary;
            }
        }
    }

    @media screen and (max-width: variables.$mobile) {
        .hero-container {
            height: auto;
            padding: 10px;
            padding-top: 70px;
            padding-bottom: 70px;

            .hero-paragraph {
                width: 95%;
            }
        }
    }
</style>
