@use "../variables/variables.scss" as variables;

.hero_section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: variables.$secondary;
    color: variables.$white;
    position: relative;
    overflow: hidden;
    padding-top: 160px;

    @media screen and (max-width: variables.$mobile) {
        height: auto;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .hero_content {
        width: 100%;
        max-width: 1200px;
        height: 50%;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 100px;

        @media screen and (max-width: variables.$mobile) {
            width: 100%;
            padding: 10px;
            padding-top: 0;
            gap: 48px;
        }

        .hero_text {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 60%;

            h1 {
                @include variables.typo-h1;
                font-family: variables.$font-family-anton;
                color: variables.$white;
            }

            p {
                @include variables.typo-h4;
                color: variables.$white;
            }

            span {
                font-family: variables.$font-family-anton;
                color: variables.$primary;
            }

            @media screen and (max-width: variables.$mobile) {
                align-items: center;
                gap: 24px;
                width: 95%;
            }
        }

        .hero_buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            gap: 40px;

            @media screen and (max-width: variables.$mobile) {
                gap: 16px;
                padding: 0 10px;
            }
        }
    }
}

.features_section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    padding: variables.$padding-large;
    background: variables.$secondary;

    @media screen and (max-width: variables.$mobile) {
        height: auto;
        padding: 68px 0;
        gap: 24px;
    }

    .features_text {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 40px;
        width: 60%;

        h1 {
            @include variables.typo-h1;
            font-family: variables.$font-family-anton;
            color: variables.$white;
        }

        p {
            @include variables.typo-body1;
            color: variables.$white;
        }

        span {
            font-family: variables.$font-family-anton;
            color: variables.$primary;
        }

        @media screen and (max-width: variables.$mobile) {
            width: 90%;
        }
    }

    .features_container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 48px 0;
        padding-top: variables.$padding-large;

        .features_content {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 80px;

            @media screen and (max-width: variables.$mobile) {
                gap: 48px;
            }
        }
    }
}

.contact_section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: variables.$mobile) {
        height: auto;
        padding: 48px 0;
    }
}

.about_section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: variables.$white;
    text-align: center;

    @media screen and (max-width: variables.$mobile) {
        height: auto;
        padding: 48px 0;
    }

    .about_content {
        max-width: 1200px;
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: variables.$mobile) {
            gap: 48px;
        }

        img {
            width: 50%;

            @media screen and (max-width: variables.$mobile) {
                width: 80%;
            }
        }

        .about_text {
            width: 65%;

            @media screen and (max-width: variables.$mobile) {
                width: 90%;
            }

            p {
                color: #333;
                @include variables.typo-h2;
            }
        }
    }
}

button {
    @include variables.typo-sub1;
}
