$primary-color: rgba(0, 0, 0, 0.692);
$secondary-color: rgba(0, 0, 0, 0.886);
$shadow-color: rgb(63, 63, 63);

.LightBoxRow {
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	margin-top: 50px;
	margin-bottom: 50px;
	max-width: 1024px;
	justify-content: center;
	align-items: center;

	&.isTablet {
		width: 95%;
	}
}

.LightBoxColumn {
	flex: 25%;

	&.isTablet {
		flex: 50%;
	}

	&.isMobile {
		flex: 100%;
	}
}

.LightBoxImg {
	width: 300px;
	height: 200px;
	padding: 10px;
	cursor: pointer;
	transition: ease-in-out 0.2s;
	position: relative;

	&.isMobile {
		width: 100%;
	}

	&Hover {
		box-shadow: 0 0 10px 0 $shadow-color;
	}
}

.LightBoxFocusMainDiv {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	background-color: $primary-color;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.LightBoxFocusUnderDiv {
	width: 100%;
	height: calc(100% - 60px);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.LightBoxLeftArrowDiv,
.LightBoxRightArrowDiv {
	min-width: 60px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	z-index: 100;
	position: absolute;
}

.LightBoxLeftArrowDiv {
	top: 0px;
	left: 0px;
}

.LightBoxRightArrowDiv {
	top: 0px;
	right: 0px;
}

.LightBoxArrowImg {
	width: 40px;
	height: 40px;
}

.LightBoxImgMainDiv {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.LightBoxImgSecondDiv {
	width: 100%;
	height: 80%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	transition: ease-in-out 0.2s;
}

.LightBoxImgDiv {
	min-width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.LightBoxFocusedImg {
	width: 100%;
	height: 100%;
	object-fit: contain;
	background-position: center;
	background-repeat: no-repeat;
	padding-left: 60px;
	padding-right: 60px;
}

.LightBoxFocusNavBar {
	width: 100%;
	min-height: 60px;
	background-color: $secondary-color;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.LightBoxIndexPar {
	color: white;
	font-family: roboto;
	margin: 0;
	margin-left: 30px;
}

.LightBoxClose {
	width: 25px;
	height: 25px;
	cursor: pointer;
	margin-right: 30px;
}
